*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {

    --accent:#fca61f;
    --light-purple-color:#6f34fe;
    --white-color:#fff;
    --light-grey-color:#f2f2ff;
    --title: "PT Sans", sans-serif;
    --title-cursive: "Playwrite FR Moderne", cursive;
    --title-parrafo: "Poiret One", sans-serif;
    --color-blueblack:#030D22;
    --shadow-color:rgba(0, 0, 0, 0.2);
    --shadow-card:3px 3px 5px rgb(255, 255, 255, 0.5);
}

nav{
    background: var(--color-blueblack);
    height: 4rem;
    width: 100%;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    padding: 0 2rem;
 }
 
 /*Styling logo*/
 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem;
 }
 .logo img{
    max-width: 4rem;
    max-height: 3.5rem;
 }
 .logo img {
    height: 5rem;
    width: 5rem;
 }
 .logo h2 {
    color: var(--light-grey-color);
    font-size: 1.5rem;
    font-family: var(--title);
 }
 .logo h2 span {
    color: var(--accent);
 }
 /*Styling Links*/
 .nav-links{
    padding-top: .3rem;
    display: flex;
    list-style: none; 
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
 }
 .nav-links li a{
    text-decoration: none;
    padding: 0 1rem;
    color: var(--light-grey-color);
    transition: all .5s ease-in-out;
 }
 .nav-links li a:hover {
    color: var(--light-purple-color);
 }
 .nav-links li {
    position: relative;
 }
 .nav-links li a:hover::before{
    width: 80%;
 }
 
 /*Styling Buttons*/
 
 .join-button{
    color: #131418;
    background-color: #61DAFB;
    border: 1.5px solid #61DAFB;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
 }
 .join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border:1.5px solid #f2f5f7;
    transition: all ease-in-out 350ms;
 }
 
 /*Styling Hamburger Icon*/
 .hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
 }
 .hamburger{
    display: none;
 }
 


.home {
width: 100%;
min-height: 100vh;
background: var(--color-blueblack);
display: flex;
align-items: center;
justify-content: space-evenly;
gap: 1rem;
padding: 0 1rem;
}
.home-content {
    max-width: 30rem;
}
.home-content h3 {
    color: var(--light-purple-color);
    font-size: 2rem;
    padding-top: .8rem;
    font-family: var(--title);
}
.home-content h1 {
    color: var(--accent);
    font-family: var(--title-cursive);
    font-size: 3rem;
    font-weight: 500;
}

.home-content p {
    color: var(--light-grey-color);
    font-family: var(--title-parrafo);
    font-size: 1.2rem;
    font-weight: 300;
}
.social-media {
    padding-top: 2rem;
    display: flex;
    gap: .5rem;
}
.social-media a {
    text-decoration: none;
    background: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--light-purple-color);
    color: var(--light-purple-color);
    font-size: 1.5rem;
    transition: all .5s ease-in-out;
}
.btn {
    display: inline-block;
    background: var(--light-purple-color);
    border: 2px solid var(--light-purple-color);
    color: var(--light-grey-color);
    font-family: var(--title);
    font-weight: 500;
    padding: .5rem 1.8rem;
    border-radius: .6rem;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    transition: all .5s ease-in-out;
}
.btn:hover {
    color: var(--light-purple-color);
    background: transparent;
}

.social-media a:hover {
    color: var(--light-grey-color);
    background: var(--light-purple-color);
}

.home-img {
    max-width: 40rem;
}
.home-img img{
    width: 100%;
}




.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    gap: 2rem;
    background: var(--color-blueblack);
    padding: 0 1rem;
}
.about .about-img{
    max-width: 22rem;
}
.about-img img {
    width: 100%;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 1.6rem;
    border:.3rem solid var(--accent);
}

.info-about {
    max-width: 35rem;
}

.info-about .box h3{
    color: var(--accent);
    font-family: var(--title);
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: .2rem;
}
.info-about .box h3 span{
    color: var(--light-purple-color);
}

.info-about .box p {
    font-family: var(--title-parrafo);
    color: var(--light-grey-color);
    font-size: 1.2rem;
    font-weight: 100;
}

.info-about .skill {
    max-width: 35rem;
}
.info-about .skill h3 {
    color: var(--accent);
    padding-top: 1rem;
    text-align: center;
    font-family: var(--title);
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
}

.cont-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.cont-card .card {
    background: var(--light-grey-color);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .3rem;
    transition: all .5s ease-in-out;
}

.cont-card .card:hover {
    transform: translateY(-.5rem);
    box-shadow: var(--shadow-card);
}
.cont-card .card {
    font-size: 2rem;
}
.cont-card .card img{
    width: 2rem;
    height: 2rem;
}
.cont-card .card:nth-child(1) {
    color: #E8552F;
}
.cont-card .card:nth-child(2) {
    color: #3F9FD7;
}

.cont-card .card:nth-child(3) {
    color: #F7E025;
}

.cont-card .card:nth-child(4) {
    color: #38BDF8;
}

.cont-card .card:nth-child(5) {
    color: rgba(141,18,253,1);
}

.cont-card .card:nth-child(6) {
    color:#66DBFB;
}

.cont-card .card:nth-child(12) {
    color: #010409;
}





.services {
    background: var(--color-blueblack);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.services .s-box {
    max-width: 64rem;
}
.services .s-box h3 {
    color: var(--accent);
    font-family: var(--title);
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .4rem;
    text-align: center;
}
.services .s-box {
    color: var(--light-grey-color);
    font-family: var(--title-parrafo);
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
}
.services .s-box .cont-s{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
    gap: 2rem ;
}
.cont-s .s-card {
    background: var(--light-purple-color);
    padding: 1.5rem;
    max-width: 20rem;
    max-height: 35rem;
    border-radius: .6rem;
    transition: all .5s ease-in-out;
}
.cont-s .s-card:hover {
    box-shadow: 5px 5px 8px rgba(255, 255, 255, .6);
    transform: translateY(-.5rem);
}

.cont-s .s-card i {
    padding: .5rem;
    border: 2px solid var(--light-grey-color);
    color: var(--light-grey-color);
    border-radius: 50%;
    font-size: 6rem;
    transition: all .5s ease-in-out;
}
.cont-s .s-card i:hover {
    color: var(--accent);
    border: 2px solid var(--accent);
}
.cont-s .s-card h3 {
    color: var(--light-grey-color);
    font-size: 1.2rem;
    font-family: var(--title);
    padding-top: 1rem  ;
}
.cont-s .s-card p{
    color: var(--light-grey-color);
    font-family: var(--title-parrafo);
    font-weight: 100;
    font-size: 1.2em;
}
.cont-s .s-card .btn-card {
    display: inline-block;
    background: var(--light-grey-color);
    border: 2px solid var(--light-grey-color);
    color: var(--light-purple-color);
    font-family: var(--title);
    font-weight: 500;
    padding: .1rem 1.2rem;
    border-radius: .3rem;
    align-items: end;
    letter-spacing: .1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    transition: all .5s ease-in-out;
}
.cont-s .s-card .btn-card:hover {
    background: transparent;
    color: var(--light-grey-color);
}





.portfolio {
    width: 100%;
    min-height: 100vh;
    background: var(--color-blueblack);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .p-box{
    text-align: center;
    max-width: 64rem;
}
.p-box h3 {
    color: var(--accent);
    font-family: var(--title);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .4rem;
}

.p-box p {
    color: var(--light-grey-color);
    font-family: var(--title-parrafo);
    font-size: 1.2rem;
    font-weight: 100;
    padding: 2rem 0;
}
.p-box .p-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem ;
    flex-wrap: wrap;
}
.p-box .p-cont .p-card {
    max-width: 20rem;
    border-radius: 1rem;
}

.p-box .p-cont .p-card img{
    border-radius: .7rem;
    transition: all .5s ease-in-out;
    
}
.p-box .p-cont .p-card img:hover{
    transform: scale(1.1) translateY(-.5rem); 
}





.contact {
    width: 100%;
    background: var(--color-blueblack);
    min-height: 75vh;
    padding: 2rem;
}

.contact h2 {
    margin-bottom: 3rem;
    text-align: center;
    color: var(--accent);
    font-family: var(--title);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .4rem;
}
.contact h2 span {
    color: var(--light-purple-color);
}

.contact form {
    max-width: 64rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-family: var(--title-parrafo);
    color: var(--light-purple-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--light-purple-color);
    margin: 0.7rem 0;
    -webkit-box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}

.contact form .input-box input {
    width: 49%;
    display: block;
}

.contact form textarea {
    resize: none;
    color: var(--light-purple-color);
    max-height: 15rem;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}






footer {
    width: 100%;
    max-height: 10rem;
    background: var(--color-blueblack);
    color: var(--light-grey-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .cont-f {
    display: grid;
    place-items: center;
    min-height: 4rem;
    text-align: center;
}
footer .cont-f span {
    color: var(--light-purple-color);
}










@media (max-width: 768px) {
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: var(--color-blueblack);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }





    .home {
        display: flex;
        flex-direction: column;
        padding-top: 4rem;
    }

    .about {
        display: flex;
        flex-direction: column;
    }


    .about {
        display: flex;
        flex-direction: column;
    }


    .cont-s {
        display: flex;
        flex-direction: column;
    }


    .p-box .p-cont {
        display: flex;
        flex-direction: column;
    }

    .portfolio .p-box{
        padding: 0 2rem;
    }





    .contact {
        min-height: 100vh;
    }

    .contact form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact form .input-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contact form .input-box input {
        width: 100%;
    }

}



.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
 }
 .toggle .line2{
    transition: all 0.7s ease;
    width:0;
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
 }
 